<mat-card>
    <form (submit)="onSubmit(locationForm)" #locationForm="ngForm" class="search">
            <mat-form-field>
            <input matInput name="location" ngModel type="text"  placeholder="Enter city name" #locationInput="ngModel" required/>
        </mat-form-field>       
        <button class="search-btn" mat-raised-button color="accent" type="submit">
            <mat-icon fontIcon="search"></mat-icon>
        </button>
    </form>
</mat-card><br>

<div *ngIf="loaded">
    <mat-grid-list cols="3" rowHeight="210px" [class]=" weatherData?.current?.is_day == 1 ? 'day' : 'night' ">
        <mat-grid-tile colspan="3" rowspan="1" >
            <div class="tile1" >
                <div class="current" >
                    <div class="temp" *ngIf="!isF">{{weatherData?.current?.temp_c}} <sup class="main-sup">°C</sup></div>
                    <div class="temp" *ngIf="isF">{{weatherData?.current?.temp_f}} <sup class="main-sup">°F</sup></div>
                    <div class="tog">°C <mat-slide-toggle [(ngModel)]="isF" ></mat-slide-toggle> °F</div>
                    <div class="comment">{{weatherData?.current?.condition?.text}}</div>
                </div>
                <div class="spinner">
                    <mat-progress-spinner
                        color="accent"
                        mode="determinate"
                        diameter="100"           
                        [value]="humidity">
                    </mat-progress-spinner>
                    <div class="in-text">{{humidity}}</div>
                    <div class="humidity">Humidity</div>
            </div>

            <div class="spinner">
                <mat-progress-spinner
                    color="accent"
                    mode="determinate"
                    diameter="100"
                    [value]="cloud">
                </mat-progress-spinner>
                <div class="in-text">{{cloud}}</div>
                <div class="cloud">Cloud</div>
            </div>
                <div class="location" >
                    <div class="city">{{weatherData?.location?.name}},</div>
                    <div class="state" >{{weatherData?.location?.region}}, {{weatherData?.location?.country}}.</div> 
                    <div class="state">{{localTime}}</div>
                    <div class="precip">
                        <div class="precip_val" *ngIf="precip_mm">Precipitation: {{weatherData?.current?.precip_mm}}</div>
                        <div class="precip_val" *ngIf="precip_in">Precipitation: {{weatherData?.current?.precip_in}}</div>
                        <div class="precip_tog">
                            <button mat-button (click)="onToggle('mm')" [class]="precip_mm ? 'active' : 'inactive' ">mm</button>|<button mat-button (click)="onToggle('in')" [class]="precip_in  ? 'active' : 'inactive' " >in</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1"  >
            <div class="tile3">

                <div [class]="!disableLeft ? 'arrow' : 'disabledArrow' "  (click)="moveLeft()"  >
                    <span class="material-icons">
                        arrow_back_ios
                    </span>
                </div>
                <div class="hourly" >
                    <div class="oneHour" [class]=" weatherData?.current?.is_day == 1 ? 'oneHourDay' : 'oneHourNight' " *ngFor="let data of hourlyWeather | slice:left:right">
                        <!-- <div class="iconandtemp"> -->
                            <img class="icon" [src]="data.condition?.icon" alt="">
                            <div class="hourlyTemp" *ngIf="!isF" >{{data.temp_c}} <sup class="hourlySup">°C</sup></div>
                            <div class="hourlyTemp" *ngIf="isF" >{{data.temp_f}} <sup class="hourlySup">°F</sup></div>
                        <!-- </div> -->
                        <div>{{toTime(data.time.split(' ', 2)[1])}}</div>
                    </div>
                </div>
                <div [class]="disableRight ? 'disabledArrow' : 'arrow' " (click)="moveRight()" >
                    <span class="material-icons">
                        arrow_forward_ios
                    </span>
                </div>

            </div>
            
        </mat-grid-tile>

    </mat-grid-list>
</div>
